body {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(land9.jpg);
    overflow-x: hidden;
}

hr{
    border: midnightblue;
}

strong{
    color: skyblue;
    font-size: 30px;
    border-bottom: 1px solid skyblue;
}
.btn {
    width:90px;
    height:60px;
    margin:0 auto;
    background-color: whitesmoke;
}
.row{
    width: 100%;
    height: 700px;
}

@media screen and (max-width:800px) {
.col-sm-1, .col-sm-2 {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}
.holder{
    max-width:580px;
    height: 433px;
}

.fill{
    background-image: url("stickers/11.png");
    /* black url(/images/back.jpg) no-repeat top center fixed; */
    -webkit-background-size: cover;
    background-size: cover;
    position: sticky;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}
#upload{
background-image:url('') no-repeat top center fixed;
/* black url(/images/back.jpg) no-repeat top center fixed; */
-webkit-background-size: cover;
background-size: cover;
display: inline-block;
height: 440px;
width: 486px;
margin: 10px;
}

.empty{
display: inline-block;
height: 160px;
width: 100%;
margin: 10px;
}

.hold{
border: solid skyblue 4px;
}

.hovered {
background: skyblue;
border-style: dashed;
}

.invisible{
display: none;
}